
.footer {
    background-color: var(--studio-darkbg);
    color: var(--studio-white);
    padding-top:60px;
    padding-bottom:60px;
}
.footer__blox {
    flex-direction: row;
    text-align: center;
    @media screen and (min-width: 768px) {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          padding-left: 0px;
      }
      
      @media screen and (min-width: 1200px) {
          display: flex;
          align-items: baseline;
          text-align: left;
      }
}
.footer__block {
    text-align: center;
    @media screen and (min-width: 1200px) {
        text-align: left;
    }
    
    
}
@media screen and (max-width: 767px) {
    .footer__block + .footer__block {
        margin-top: 60px;
        }
}

.footer .logo {
    color: var(--studio-white);
    margin-right: 0px;
    display: block;
    margin-bottom: 20px;
}
.logo__accent-blue {
    color: var(--studio-blue);
}
.addres-box__address {
    line-height: 1.8;
    font-style: normal;
}
.footer__blox__address li:not(:last-child) {
margin-bottom: 9px;
}
.loc {
    color: var(--studio-white);
    text-decoration: none;
}
.mail,
.tel {
    color: var(--studio-text);
    text-decoration: none;
}
.addres-box {
    @media screen and (min-width: 1200px) {
    margin-right: 70px;
    }
}

.footer-title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.social-icons-footer {
    display: flex;
    justify-content: center;
    @media screen and (min-width: 1200px) {
    justify-content:start;
    }
}
.soc-footer-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    fill: var(--studio-white);
    background: rgba(255, 255, 255, 0.1);
    transition: background-color var(--studio-main-transition);
}
.social-icons-footer .soc-iteam:not(:last-child) {
    margin-right: 10px;
}
.soc-footer-link:hover,
.soc-footer-link:focus {
    background-color: var(--studio-blue);
    fill: var(--studio-white);
    cursor: pointer;
}
.footer-form-subscribe {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
    }
}
.footer-form__input {
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--studio-white);
    background: transparent;
    padding: 15px;
    margin-right:12px;
    display: inline-block;
    @media screen and (min-width: 1200px) {
    width: 358px;
    }
   
    &:focus {
        border: 1px solid var(--studio-blue);
    }
    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
    @media screen and (min-width: 768px) {
          width: 450px;
    }
      
    @media screen and (min-width: 1200px) {
          width: 358px;
    }

}
.button >.svg {
    margin-left:10px;
    fill:var(--studio-white);
    align-items: center;
}
.subscribe {
    @media screen and (min-width: 1200px) {
        margin-left: auto;
  }
}
.subscribe-btn {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;   
    @media screen and (min-width: 1200px) {
        margin-top: 0px;
  }
}
