.header {
    border-bottom: 1px solid var(--studio-lightbg);
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ececec;
    @media screen and (min-width: 1200px) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
