.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.project {
    width: 450px;
    // margin-right: 30px;
    // margin-bottom: 30px;
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px)/2);
        margin-bottom: 0;
        width: 354px;
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 60px)/3);
        margin-bottom: 0;
        width: 370px;
    }
}
.project__description {
    padding: 20px 24px;
    border: 1px solid var(--studio-lightbg);
    border-top: none;
    flex-grow: 1;
}
.project__description__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--studio-dark);
}
.project__subtitle {
    font-size: 16px;
    line-height: 1.8;
    color: var(--studio-text);
    margin-top: 4px;
}
.project__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    transition: box-shadow var(--studio-main-transition);

    &:hover .overlay,
    &.project__link:focus .overlay {
        transform: translateY(0%);
    }

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        cursor: pointer;
    }
}
.project__overlay-wraper {
    position: relative;
    width: 450px;
    height: 294px;
    overflow: hidden;
    @media screen and (min-width: 768px) {
        width: 354px;
        }
    @media screen and (min-width: 1200px) {
    width: 370px;
    }
}
.overlay {
    position: absolute;
    background-color: var(--studio-overlay);
    color: var(--studio-white);
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    height: 100%;
    width: 100%;
    padding: 63px 24px;
    top:0;
    left:0;
    overflow: auto;
    transform: translateY(100%);
    transition: transform var(--studio-main-transition);
}