.social-icons {
    display: flex;
    justify-content: space-evenly;
    margin: 16px 0 0;
}
.soc-link-item {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color:var(--studio-white);
    fill: var(--studio-icons);
    transition: fill var(--studio-main-transition), background-color var(--studio-main-transition);

    &:hover,
    &:focus {
        background-color: var(--studio-blue);
        fill: var(--studio-white);
        cursor: pointer;
    }
}
.soc-iteam svg {
    width:20px;
    height: 20px;
}