.logo {
    font-family: var(--font-secondary);
    font-size: 26px;
    font-weight: 700;
    color: var(--studio-black);
    text-decoration: none;
}
.logo__accent--blue{
    color: var(--studio-blue);
}
.logo {

}