.modal {
    position: absolute;
    top:50%;
    left: 50%;
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: var(--studio-white);
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
button.modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    position: absolute;
    right: 8px;
    top: 8px;
}
.modal-close-btn .svg:hover {
    fill: var(--studio-blue);
}